@media (min-width: 728px) {
  .section {
    padding: 24px 60px 64px;
  }
}

.section {
  background-color: #71837b;
}

.content {
  display: flex;
  gap: 18px;
  height: 680px;
  border-radius: 14px 0 0 14px;
  background-color: #ffffff;
}

.card-left-side {
  max-width: 425px;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/contact-us.jpg");
  background-size: cover;
  background-position: bottom right;
  border-radius: 14px;
  padding: 42px 42px 48px 42px;
  height: 100%;
  justify-content: space-between;
}

.title {
  color: #111111;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 16px;
}

.description {
  color: #111111;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 56px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.links {
  display: flex;
  gap: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 26px;
  padding: 48px 20px;
}

.row {
  display: flex;
  gap: 18px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.input {
  border: 1px solid #111111;
  padding: 12px 12px 8px;
  border-radius: 3px;
  resize: none;
}

.input:focus,
.input:focus-visible {
  outline: 1px solid #3a6150;
  border: 1px solid #3a6150;
}

.input::placeholder {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.roles {
  display: flex;
  width: 100%;
}

.role:not(:last-child) {
  margin-right: 36px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#text-area {
  resize: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 11px 63px;
  background-color: #3a6150;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #335540;
}

.terms {
  display: flex;
  gap: 48px;
}

.term {
  display: flex;
  gap: 8px;
}
