.searchBar {
  display: flex;
  border: 2px solid #3a6150;
  border-radius: 2px 0 0 2px;
}

.input {
  border: none;
  padding: 12px 12px 8px;
  resize: none;
  width: 300px;
}

.input::placeholder {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.search-icon-button {
  width: 48px;
  height: 48px;
  background-color: #3a6150;
}

.icon {
  color: white;
  font-size: 30px;
}
